
/* PROFILE SUMMARY CSS */

body {
  background-color: #F3F2EF;
  width: 100vw;
  height: 100vh
}

#summaryContainer {
  border-radius: 10px;
  width: 45rem;
  height: 535px;
  background-color: white;
  padding: 0;
  position: relative;
}

#backgroundImage {
  width: 45rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  margin-bottom: 1rem;
}

#fontsizeP {
  font-size: small;
}

#openToWork {
  width: 42rem;
  height: 105px;
  background-color: #E9E5DF;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

#pen1 {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: small;
}

#pen2 {
  position: absolute;
  right: 20px;
  top: 200px;
  font-size: medium;
  color: rgb(112, 111, 111);
}

#pen3 {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: small;
  color: rgb(112, 111, 111);
}

#striveImg {
  width: 35px;
  height: auto;
  position: absolute;
  top: 260px;
  right: 210px;
}

#striveText {
  position: absolute;
  top: 270px;
  right: 105px;
}

/* EDUCATION CSS */

#educationDiv {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#educationImg {
  height: 65px;
  width: 65px;
}

#eduFontSize {
  font-size: small;
}

#eduIconColor {
  color: rgb(112, 111, 111);
}

#experienceDiv {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* SIDEBAR CSS */

#sideBorderRadius {
  border-radius: 10px;
}

#rightInfo {
  margin-left: 110px;
}

#rightInfo2 {
  margin-left: 50px;
}

#rightbarImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
 #makeItStick {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
 }

