#dashboardIcon {
  font-size: larger;
  color: rgb(10, 10, 10);
  position: absolute;
  top: 1rem;
}
#myitems {
  font-size: 13px;
  color: rgb(10, 10, 10);
  padding-left: 5px;
  margin-left: 30px;
}
#userdetails {
  font-size: 12px;
  text-decoration: gray;
}
#headings {
  font-size: medium;
}
/* #userimage {
  border-radius: "50%";
  width: "70px";
  height: "70px";
  margin-left: "40px";
  margin-bottom: 10px;
} */
/* #sidebardiv {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
} */
