#dashboardIcon {
  font-size: medium;
  color: rgb(10, 10, 10);
}
#userdetails {
  font-size: 12px;
  text-decoration: gray;
}
#headings {
  font-size: medium;
}
/* #userimage {
  border-radius: "50%";
  width: "70px";
  height: "70px";
  margin-left: "40px";
  margin-bottom: 10px;
} */
/* #sidebardiv {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
} */

#sidebardiv {
  position: relative;
}

#leftSidebarImg {
  position: absolute;
  top: 15px;
  left: 40px;
}

#leftSidebar {
  border-radius: 10px;
}

#sidebarCoverImg {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#myItems {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.makeItStick {
  position: -webkit-sticky;
  position: sticky;
 }
