.Footer {
  color: gray;
  text-decoration-color: gray;
  font-size: small;
}

.linked {
  font-size: 20px;
}

.Questions {
  font-size: 12px;
}
.Manage {
  font-size: 12px;
}
.copyright {
  margin-left: 0px;
}

ul {
  list-style-type: none;
}

#footerFontSize {
  font-size: small;
}

#footerImg {
  width: 90px;
  height: auto;
}